.hidden{
    visibility: hidden;
}

.containergrid {
    margin-left: -150px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 100px; 
  }

  @media(max-width: 430px){
    .containergrid {
        margin-left: 200px;
        margin-top: 70px;
        display: block;
      }
  }