.aa{
    margin-top: -200px !important;
}

.flex{
    display: flex;
}

.resumoprojeto{
    font-size: 25px;
    margin-left: -10vw;
    margin-top: 20vh;
    margin-right: 10vw;
}

.resumoprojeto2{
    font-size: 30px;
    margin-left: 15;
    margin-top: 20vh;
    margin-right: -10vw;
}

.titulo{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    margin-left: -10vw;
    margin-top: 10vh;
}

.titulo2{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    margin-right: -10vw;
    margin-top: 10vh;
    margin-left: 5;
    

}

.imgprobem{
    height: 100%;
    transition: 0.5s ease-in-out;
    margin-right: -200px;
    border-radius: 200px;
}

.containerimg{
height: 600px;
}


.imgprobem:hover{
    margin-right: -200px;
    border: 10px solid transparent;
    outline: 5px solid #39ff14;
    border-radius: 0px;
}

.imgprojeto{
    height: 500;
    padding-right: 15vw;
    margin-left: -10vw;
}

.margintop{
    margin-top: 10vh;
}


.marginbot{
    margin-bottom: 110px;
}

.hidden{
    visibility: hidden;
}