:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
  }

html{
    top: 0;
    left: 0;
}

.containernav{
    width: 100%;
}

.navbar{
    left: 0;
    background: #262626;
    display: flex;
    border-bottom: 2px solid #39ff14;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end{
    display: flex;
    justify-content: end;
    align-items: end;
}

.margin-rigth{
    margin-right: 50px;
}

.tm{
    height: 50px;
   display: flex;
   align-items: flex-start;
}

.btn-design{
    background-color: #262626;
    cursor: pointer;
    height: 60px;
    width: 150px;
    transition: 0.5s ease;
    color: #39ff14;
    border: none;
    

}

.btn-design:hover{
    font-size: 20px;
    border: none;
    
}



@media (max-width:425px) {
    .btn-design{
        display: none;
    }

    .one,
    .two,
    .three{
        background-color: rgb(195, 62, 62);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition: 0.5s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        padding-right: 20px;
        padding-bottom: 5px;
        transition: 0.5s;
    }

    .two:hover{
        transform: rotate(360deg);
    }

    .padding{
        padding-left: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
   

    /* fullscreen */

    
}