.container {
    width: 100%;
}

.none {
    display: block;
}

.footer {
    border-top: 2px solid var(--green);
    left: 0;
    background: var(--background);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.containerdiv {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.margin {
    margin-right: 40px !important;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .margin {
        margin: 10px 0;
    }
}

@media (max-width: 440px){
    .containerdiv {
        flex-direction: column;
        align-items: center;
    }
    
    .margin {
        margin: 10px 0;
    }
}

@media (max-width: 375px) {
    .none {
        display: none;
    }
}