.card{
    background-color: var(--background) !important;
    color: var(--fonte) !important;
    border: 5px solid var(--green);
    border-radius: 100px !important;
    transition: 0.5s ease !important;
}

.card:hover{
    border-radius: 0 !important;
    .fotocard{
        border-radius: 0;
    }
}

.text-card{
    background-color: var(--background);
    color: var(--fonte);
}

.fotocard{
    width: 100%;
    border-radius: 50px;
    transition: 1 ease;
}
.fotocard:hover{
    border-radius: 0;
}