.card{
    background-color: var(--background) !important;
    color: var(--fonte) !important;
    border: 5px solid var(--green);
    border-radius: 100px !important;
    transition: 0.5s ease !important;
    padding: 2em;
    box-sizing: border-box;

}


.codfonte{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 50px!important;
}



.text-card{
    background-color: var(--background);
    color: var(--fonte);
    
}

.fotocard{
    width: 100%;
    border-radius: 50px;
    transition: 1 ease;
    height:250px !important;
}


@media(max-width: 1200px){


    .text-card{
        font-size: 1em !important;
    }


    
}

@media(max-width: 800px){
    .card{
        width: 100vw !important;
    }

    .fotocard{
        height: 200px
    }

    .text-card{
        background-color: var(--background);
        color: var(--fonte);
    }
}

@media(max-width: 430px){

    .card{
        width: 95vw !important;
        border-radius: 20px !important;
    }
   
    .fotocard{
        height: 150px!important;
        width: 100%;
        border-radius: 20px !important;
    }

    .text-card{
        background-color: var(--background);
        color: var(--fonte);
    }


}