.containerc{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 100px;
    margin-bottom: 100px;
}

.gridhab{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 20px;
}

.texttop{
    margin-top: 0px;
}

.tamcert{
    font-size: 20px;
}

.mtop{
    margin-top: -8px;
}
